h1, h3, h6 {
  color: #d6d4d4;
}

h1{
  color: #d6d4d4;
  margin-left: 2%;
}


h2 {
  color: #a5a4a4;
}

.highlight {

  color: rgb(131, 231, 128);
  font-size: 1.5rem;

}

.post_title {
  color: #a5a4a4;
  font-size: 1.5em;
  text-decoration: underline;
  padding-bottom: 10px;
}


p {
  color: #a5a4a4;

}

a {
  color: #d6d4d4;
}

.title-home
{
  color: #d6d4d4;
  text-decoration: none;
}