
  .post {
    display: flex;
    align-items: left;



  }

  .post-content {
    flex: 0 0 75%; /* Content takes up 60% of the container */
    margin-right: 5%;
    margin-left: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  

  .post-content .post_title {
    color: #a5a4a4;
    font-size: 1.5em;
    text-decoration: underline;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .post-content p {
    margin: 0;


  }

  