
  .post {
    display: flex;
    align-items: left;



  }

  .post-content {
    flex: 0 0 75%; /* Content takes up 60% of the container */
    margin-right: 5%;

    margin-left: 3%;
  }
  
  .post-content .post_title {
    margin: 0 0 10px 0;

  }
  
  .post-content p {
    margin: 0;

  }
  